@model PersonalDetails
<h1 style="text-align:center">@Model.Name Info : </h1>
<table id="table" class="table table-bordered" style="background-color:black ; color:white">

    <tr>
        <td>@Model.Id</td>
        <td>@Model.Name</td>
        <td>@Model.Mail</td>
        <td>@Model.Address</td>
        <td>@Model.Age</td>
    </tr>
</table>