@model PersonalDetails

<h4 style="text-align:center">Update @Model.Name Details</h4>
@using (Html.BeginForm())
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <td>
                    @Html.LabelFor(a => a.Name)
                </td>
                <td>
                    @Html.LabelFor(a => a.Mail)
                </td>
                <td>
                    @Html.LabelFor(a => a.Age)
                </td>
                <td>
                    @Html.LabelFor(a => a.Address)
                </td>
                <td>Operation</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td hidden>@Html.TextBoxFor(a => a.Id)</td>

                <td>@Html.TextBoxFor(a => a.Name)</td>
                <td>
                    @Html.TextBoxFor(a => a.Mail)
                </td>
                <td>
                    @Html.TextBoxFor(a => a.Age)
                </td>
                <td>
                    @Html.TextBoxFor(a => a.Address)
                </td>
                <td>
                    <input type="submit" value="Updated" class="btn btn-primary" />
                </td>
            </tr>
        </tbody>
    </table>
}
